<div class="col-md-9">
  <div class="row">
    <div class="col-md-4" id="top-left">
      <span class="fp glyphicon glyphicon-user"></span>
    </div>
    <div class="col-md-4" id="top-right">
      <span class="fp glyphicon glyphicon-education"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" id="bottom-left">
      <span class="fp glyphicon glyphicon-check"></span>
    </div>
    <div class="col-md-4" id="bottom-right">
      <span class="fp glyphicon glyphicon-pencil"></span>
    </div>
  </div>
</div>
